<!doctype html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<title>MonCheri - Admin</title>
	<link rel="stylesheet" href="app/static/styles/style.css">
</head>
<body>
	<header>
		<div class="nav-left">
			<a href="/" class="nav-link">Каталог</a>
		</div>
		<div class="logo"><h1>Mon Cheri</h1><div class="logo-shadow"></div></div>
		<div class="nav-right">
			<a href="#" class="nav-link">Контакты</a>
		</div>
	</header>
	<div id="main-wrap" class="main-wrap">
		<form action="" id="admin_login">
			<label for="login">Логин</label>
			<input type="text" name="login">
			<label for="password">Пароль</label>
			<input type="password" name="password">
			<input type="submit" value="Войти"  class="confirm">
		</form>
	</div>
	<script src="vendor/js/lollipop.js"></script>
	<script src="vendor/js/cookie.js"></script>
	<script src="app/static/js/admin/login.js"></script>
	<script>Lollipop.Core.startAll();</script>
</body>
</html>