$header-color: rgb(255,255,214);
$header-color-hover: #FDF7BF;
$border: rgb(3,54,73);
$font-color-main: rgb(255,64,64);
$font-color-shadow: rgb(3,54,73);
$nav-shadow: rgba(3,54,73,.25);
$body-color: rgba(216,240,240,.25);
$item-shadow: rgba(3,54,73,.25);
$item-shadow-hover: rgba(3,54,73,.5);
$overlay: rgba(3,54,73,.6);
$modal-border: rgba(0,0,0,.05);
$button-color: rgb(255,255,214);